@media screen and (max-width:767px) {
body{
    background-color: #333;
    margin:0px;
}
#wrapper{
    display: grid;
    grid-template-rows:auto;
    grid-template-columns: 100%;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#logo{
    min-width: 200px;
    grid-row-start: 1;
    margin-top:5px; 
    padding: 2px 40px 0px 40px;
    background-color: rgb(71, 70, 70);
}
img{
    height: auto;
    width: 100%;
    display:grid;
    margin:auto;
    }
.head_img{
        max-height: 200px;
        max-width: 570px;
    }
.slider_img{
        max-height: 80px;
        max-width: 200px;
    }
.menu_img{
    max-height: 60px;
    max-width: 60px;
}
#liga{
    grid-row-start: 2;
    min-width: 200px;
    background-color: rgb(70, 70, 70);
}
#slider{
    background-color: rgb(248, 248, 248);
    grid-row-start: 3;
    min-width: 200px;
    padding: 2px 40px 0px 40px;
}
.menu{
    padding: 5px;
    background-color: rgb(78, 78, 78);
    grid-row: auto;
    font-size: 3vw;
    min-width: 200px;
    color:rgb(255, 255, 255);
}
#mecz{
    background-color: blueviolet;
}
address{
    background-color: chartreuse;
}
#sponsor{
    background-color: crimson;
}
h1,h2{
    margin: 0;
}
.marg{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
}

@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    body{
        background-color: #333;
        display: grid;
    }
}