html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}
.new_br{
    padding-bottom: 20px;
}
span.column a::before {
    content: "\25CF  ";
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#wrapper {
    display: grid;
    grid-template-rows: auto;
}

#main_menu {
    display: none;
}

#mecz {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: white;
}

img {
    height: auto;
    width: 100%;
    display: grid;
    margin: auto;
}

#logo {
    opacity: 0.8;
    background-color: rgb(71, 70, 70);
    padding: 2px 40px 0px 40px;
    margin-top: 6px;
    min-width: 200px;
}

.head_img {
    max-height: 200px;
    max-width: 570px;
}

.slider_img {
    max-height: 80px;
    max-width: 200px;
}

.menu_img {
    max-height: 60px;
    max-width: 60px;
}

#liga {
    background-color: rgb(36, 36, 36);
    min-width: 200px;
}

#slider {
    min-width: 200px;
    padding: 10px 40px 10px 40px;
    background-color: rgb(248, 248, 248);
}

.menu {
    background-image: url("tets.jpg");
    background-size: cover;
    padding: 3px;
    background-color: rgb(78, 78, 78);
    grid-row: auto;
    font-size: 3vw;
    color: rgb(255, 255, 255);
}

address {
    font-family: Raleway;
    background-color: rgb(216, 216, 216);
}

#sponsor {
    background-color: rgb(32, 32, 32);
    min-height: 40px;
    line-height: 50px;
    min-width: 200px;
}

h1, h2 {
    margin: 0;
}

.title_article h4 {
    color: white;
    ;
}

#aktualnosci h3 {
    color: #2ce01c;
    padding-bottom: 7px;
}

.foot {
    color: #cfcfcf;
    text-align: center;
    font-weight: bold;
}

.forms {
    padding: 4px;
}

.dot {
    font-size: 20vw;
}

.left {
    text-align: left;
}

.marg {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 3px;
}

label {
    font-size: 4.5vw;
    padding: 10px;
}

#aktualnosci {
    display: none;
    min-width: 200px;
    flex-direction: column;
}

.main_article {
    background-color: #ffffff;
    margin-bottom: 6px;
    color: rgb(0, 0, 0);
}

.title_article {
    background-color: #333333;
    padding: 4px;
}

.article {
    border: 2px solid white;
    margin-top: 20px;
}

/*Do main article gdy nie ma zdj   */

.padding {
    padding: 5px;
}

#archiwum {
    display: none;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    max-height: 200px;
    overflow: auto;
}

#archiwum :link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
}

.flex_content {
    padding: 5px;
    font-family: Raleway;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#terminarz {
    display: none;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    font-size: 4vw;
    min-height: 3vw;
    padding-top: 5px;
    padding-left: 5px;
}

#terminarz :link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#wyniki {
    display: none;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    max-height: 300px;
    overflow: auto;
}

#wyniki :link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1em;
    padding-top: 10px;
}

#onas {
    display: none;
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    padding: 5px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#slideshow {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 300%;
    height: 100%;
    position: relative;
    animation: carousel 20s infinite normal;
    /*animation:slide 12s ease-in-out infinite;*/
}

.container section {
    width: 33%;
    height: 100%;
    float: left;
}

input[type="email"], textarea {
    padding-left: 6px;
    width: 80vw;
    height: 6.5vw;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 4.5vw;
}

input[type="textarea"], textarea {
    padding-left: 6px;
    width: 80vw;
    height: 15vw;
    resize: none;
    overflow: scroll;
    word-wrap: break-word;
    word-break: break-all;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 4.5vw;
}

#submit {
    color: white;
    background-color: #e05555;
    width: 32vw;
    height: 7vw;
    font-size: 4vw;
    border-radius: 8%;
}

a:visited {
    color: #e01c1c;
}

a {
    text-decoration: none;
    color: transparent;
}

#news a {
    text-decoration: none;
    color: rgb(141, 29, 29);
}

.forms ul {
    list-style-type: none;
    padding: 10px;
}

#onas ul, ol {
    padding-left: 5%;
}

.text_news ul, ol {
    padding-left: 5%;
}

#news {
    background-color: white;
    color: #000000;
    padding: 5px;
    min-height: inherit;
    word-break: break-word;
}

.news_h1 {
    font-size: 6vw;
    font-weight: 700;
    border-style: none none solid none;
    border-width: 4px;
    border-color: #333333;
}

.news_date {
    color: gray;
    padding-top: 5px;
    padding-bottom: 3px;
}

.news_main {
    padding-top: 3vw;
    padding: 5px;
}

.h2_news {
    font-size: 5vw;
    font-weight: 500;
    color: #3b3b3b;
    padding-bottom: 10px;
}

.text_news {
    font-size: 4vw;
}

#wraper_menu {
    min-width: 200px;
}

@keyframes carousel {
    0% {
        right: 0%;
    }
    58% {
        right: 0%;
    }
    60% {
        right: 100%;
    }
    62% {
        right: 100%;
    }
    98% {
        right: 100%;
    }
    100% {
        right: 200%;
    }
}

.min-height {
    min-height: 200px;
}

.height-inherit {
    min-height: inherit;
}

@font-face {
    font-family: Raleway;
    src: url('Raleway/static/Raleway-Regular.ttf');
}

@media screen and (max-width:767px) and (orientation: portrait) {
    #wrapper {
        grid-template-columns: 100%;
        grid-row-start: auto;
    }
    #logo {
        grid-row-start: 1;
    }
    #liga {
        grid-row-start: 2;
    }
    #slider {
        grid-row-start: 3;
    }
    .menu {
        min-width: 200px;
    }
    #mecz {
        background-color: #ffffff;
        margin-top: 10px;
        min-width: 200px;
    }
    address {
        min-width: 200px;
        padding: 5px;
    }
    h1, h2 {
        font-size: 9vw;
    }
    address h2{
        font-size: 6vw;
    }
    .right_span {
        text-align: right;
        width: 40%;
    }
    .left_span {
        text-align: left;
        width: 40%;
    }
    .row_width {
        width: 20%;
    }
    #mecz h3 {
        padding-left: 5px;
        color: #000000;
        font-size: 4vw;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
    }
    .foot {
        font-size: 5vw;
    }
    .forms {
        font-size: 5vw;
    }
    .main_article {
        font-size: 1.2em;
    }
    #archiwum {
        font-size: 5.5vw;
    }
    .flex_content {
        justify-content: left;
    }
    #wyniki {
        font-size: 1.4em;
    }
    #onas {
        font-size: 4.8vw;
    }
    hr {
        display: none;
    }
}

@media screen and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
    main {
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    #wrapper {
        grid-auto-flow: row;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'header header ' 'logo logo' 'slider slider' 'main rightt' 'footer footer';
    }
    header, footer {
        grid-column: 1/3;
    }
    header {
        grid-row: 1;
    }
    footer {
        margin-left: 10px;
        margin-right: 10px;
        grid-row: 3;
    }
    #mecz {
        position: sticky;
        top: 5px;
        grid-row: 2/3;
        grid-column: 2/3;
        grid-area: rightt;
        min-width: 100px;
        margin-top: 5px;
        max-height: 52vw;
    }
    .mecz_article {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    #wraper_menu {
        margin-top: auto;
        margin-bottom: auto;
        grid-row: 1;
        grid-column: 1/2;
        grid-area: main;
        width: 70%;
    }
    #logo {
        grid-column: 1/3;
        grid-area: header;
    }
    #liga {
        grid-area: logo;
    }
    #slider {
        grid-area: slider;
    }
    .menu {
        min-width: 100%;
    }
    address {
        grid-area: footer;
        min-width: 100%;
        padding: 10px;
    }
    h1, h2 {
        font-size: 5vw;
    }
    #mecz h2 {
        font-size: 4vw;
    }
    #mecz h3 {
        padding-bottom: 10px;
        font-size: 3vw;
        text-align: center;
    }
    .foot {
        font-size: 3vw;
    }
    footer .marg {
        margin: 0;
    }
    .forms {
        font-size: 5vw;
    }
    .main_article {
        font-size: 1em;
    }
    #archiwum {
        font-size: 3.4vw;
    }
    .flex_content {
        justify-content: center;
    }
    #mecz .row {
        flex-direction: column;
    }
    #wyniki {
        font-size: 1.1em;
    }
    #onas {
        font-size: 3.5vw;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
  /*  main, footer {
        margin-left: auto;
        margin-right: auto;
        max-width: 850px;
    }
    #wrapper {
        grid-template-columns: 100%;
        grid-row-start: auto;
    }
    #logo {
        grid-row-start: 1;
    }
    #liga {
        grid-row-start: 2;
    }
    #slider {
        grid-row-start: 3;
    }
    .menu {
        min-width: 200px;
    }
    #mecz {
        background-color: #ffffff;
        margin-top: 10px;
        min-width: 200px;
    }
    address {
        min-width: 200px;
        padding: 5px;
    }
    h1, h2 {
        font-size: 9vw;
    }
    .right_span {
        text-align: right;
        width: 40%;
    }
    .left_span {
        text-align: left;
        width: 40%;
    }
    .row_width {
        width: 20%;
    }
    #mecz h3 {
        color: #000000;
        font-size: 4vw;
        text-align: left;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
    }
    .foot {
        font-size: 5vw;
    }
    .forms {
        font-size: 5vw;
    }
    .main_article {
        font-size: 1.2em;
    }
    #archiwum {
        font-size: 5.5vw;
    }
    .flex_content {
        justify-content: left;
    }
    #wyniki {
        font-size: 1.4em;
    }
    #onas {
        font-size: 4.8vw;
    }
    hr {
        display: none;
    }*/
    #wrapper {
        width: 100%;
            margin: auto;
        }
        .field_menu {
            align-items: center;
            text-align: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 30px;
            color: white;
            font-family: Raleway;
        }
        .field_menu:hover {
            background-color: #4e534e;
        }
        #aktualnosci {
            display: block;
        }
        .out_size {
            display: none;
        }
        .forms {
           font-size: 30px;
        }
        address h2{
            font-size: 40px;
        }
        .middle {
            margin-top: 25px;
        }
        input[type="email"], textarea {
            padding-left: 6px;
            margin-left: 10px;
            width: 80vw;
            height: 6.5vw;
            font-size: 4.5vw;
        }
        
        input[type="textarea"], textarea {
            padding-left: 6px;
            width: 80vw;
            height: 15vw;
            font-size: 4.5vw;
            margin-left: 10px;
        }
        #submit {
            margin-left: 10px;
            width: 24vw;
            height: 5vw;
            font-size: 3vw;
            margin-bottom: 5px;
        }
        .menu {
            padding: 0;
        }
        #main_menu {
            background-color: #252323;
            display: flex;
            align-items: center;
            height: 80px;
        }
        #archiwum{
            max-height:none;
        }
        #wyniki{
            max-height:none;
            font-size: 33px;
        }
        #onas{
            font-size:29px;
        }
        #terminarz{
            font-size: 33px;
            min-height: 100px;
            padding-top: 20px;
        }
        #aktualnosci h3 {
            font-size: 2.5vw;
        }
        #aktualnosci h4 {
            font-size: 2.8vw;
        }
        hr{
            display: none;
        }
        #mecz h3{
            font-size:29px;
        }
        .right_span{
            font-size: 65px;
        }
        .left_span{
            font-size: 65px;
            
        }
        .row_width{
            font-size: 60px; 
            
        }
        .news_date{
            font-size: 20px;
        }
        .news_h1{
            font-size: 60px;
        }
        .h2_news{
            font-size: 60px;
        }
        .text_news{
            font-size: 42px;
        }
        .mecz_article h4{
            font-size: 23px;
            padding-top: 2px;
        }
        #sponsor{
            font-size: 30px;
        }
    
}

@media screen and (min-width:992px) and (max-width:1200px) {
    #wrapper {
    width: 100%;
        margin: auto;
    }
    .field_menu {
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 36px;
        color: white;
        font-family: Raleway;
    }
    .field_menu:hover {
        background-color: #4e534e;
    }
    #aktualnosci {
        display: block;
    
    }
    .out_size {
        display: none;
    }
    address {
        display:block;
    }
    .middle {
        margin-top: 25px;
    }
    .menu {
        padding: 0;
    }
    #main_menu {
        background-color: #252323;
        display: flex;
        align-items: center;
        height: 100px;
    }
    #archiwum{
        max-height:none;
    }
    #wyniki{
        max-height:none;
        font-size: 33px;
    }
    #onas{
        font-size:29px;
    }
    #terminarz{
        font-size: 33px;
        min-height: 100px;
        padding-top: 20px;
    }
    #aktualnosci h3 {
        font-size: 2.5vw;
    }
    #aktualnosci h4 {
        font-size: 2.8vw;
    }
    hr{
        display: none;
    }
    #mecz h3{
        font-size:29px;
    }
    .right_span{
        font-size: 65px;
    }
    .left_span{
        font-size: 65px;
        
    }
    .row_width{
        font-size: 60px; 
        
    }
    .news_date{
        font-size: 20px;
    }
    .news_h1{
        font-size: 60px;
    }
    .h2_news{
        font-size: 60px;
    }
    .text_news{
        font-size: 42px;
    }
    input[type="email"], textarea {
        padding-left: 6px;
        margin-left: 10px;
        width: 900px;
        height: 100px;
        font-size: 50px;
    }
    
    input[type="textarea"], textarea {
        padding-left: 6px;
        width: 900px;
        height: 300px;
        font-size: 35px;
        margin-left: 10px;
    }
    #submit {
        margin-left: 10px;
        width: 300px;
        height: 80px;
        font-size: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .forms ul {
       font-size: 50px;
    }
    address h2{
        font-size: 70px;
    }
    .mecz_article h4{
        font-size: 25px;
        padding-top: 5px;
    }
    #sponsor{
        font-size: 30px;
    }
}

@media screen and (min-width:1201px) {
    #wrapper {
        max-width: 1200px;
        margin: auto;
    }
    main{
        max-width: 1200px;
    }
    header{
        max-width: 1200px;
    }
    footer{
        max-width: 1200px;
    }
    .field_menu {
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 42px;
        color: white;
        font-family: Raleway;
    }
    .field_menu:hover {
        background-color: #4e534e;
    }
    #aktualnosci {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: #000000;
        flex-direction: row;
    }
    .article{
        width: 48%;
        background-color: #333333;
      
    }
    .article:hover{
        filter: brightness(1.3);
    }
    .out_size {
        display: none;
    }
    #wraper_menu{
        display: flex;
        flex-direction: column;
        
    }
    address {
        display: block;
    }
    .middle {
        margin-top: 25px;
    }
    .menu {
        padding: 0;
    }
    #main_menu {
        background-color: #252323;
        display: flex;
        align-items: center;
        height: 100px;
    }
    #archiwum{
        max-height:none;
        font-size: 50px;
    }
    #wyniki{
        max-height:none;
        font-size: 43px;
    }
    #onas{
        font-size: 33px;
    }
    #terminarz{
        font-size: 37px;
        min-height: 100px;
        padding-top: 20px;
    }
    #aktualnosci h3 {
        font-size: 35px;
    }
    #aktualnosci h4 {
        font-size: 40px;
    }
    hr{
        display: none;
    }
    #mecz h3{
        font-size: 32px;
    }
    .right_span{
        font-size: 70px; 
    }
    .left_span{
        font-size: 70px; 
        
    }
    .row_width{
        font-size: 65px; 
    }
    .news_date{
        font-size: 23px;
    }
    .news_h1{
        font-size: 63px;
    }
    .h2_news{
        font-size: 63px;
    }
    .text_news{
        font-size: 45px;
    }
    input[type="email"], textarea {
        padding-left: 6px;
        margin-left: 10px;
        width: 900px;
        height: 100px;
        font-size: 50px;
    }
    
    input[type="textarea"], textarea {
        padding-left: 6px;
        width: 900px;
        height: 300px;
        font-size: 35px;
        margin-left: 10px;
    }
    #submit {
        margin-left: 10px;
        width: 300px;
        height: 70px;
        font-size: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .forms ul {
       font-size: 50px;
    }
    address h2{
        font-size: 70px;
    }
    .mecz_article h4{
        font-size: 25px;
        padding-top: 5px;
    }
    #formss label{
        font-size: 60px;
    }
    #sponsor{
        font-size: 30px;
    }
}